<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container card-sh"
			style="margin-top: 6.5%; width: 55%; height: auto;">

			<div class="card shadow col-md-12 p-0"
				style="border: 1px solid #B7B7B7; border-radius: 10px;">
				<div class="row">
					<th:block th:if="${session.succMsg}">
						<p class="text-success alert alert-success text-center"
							role="alert">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger text-center  alert alert-danger">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>

					</th:block>
					<div class="col-6 text-end ">
						<img alt="" th:src="@{'/img/product_img/'+${product.image}}"
							style="height: auto; width: 100%; object-fit: cover; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
					</div>

					<div class="col-6 mt-3 p-4" style="color: dark">

						<p class="fs-5 fw-bold">[[${product.category}]]</p>
						<p class="fs-1 fw-bold">[[${product.title}]]</p>
						<p>
							<span class="fs-5 fw-bold">Description : </span><br>[[${product.description}]]
						</p>
						<!-- จัด icon และ location ให้อยู่ข้างกัน -->
						<div class="mb-2 d-flex align-items-center">
							<i class="fas fa-map-marker-alt me-2"></i>
							<!-- Location icon -->
							<p class="fw-bold mb-0">[[${product.location}]]</p>
						</div>

						<p>
							<span class="fs-5 fw-bold">Start Date : </span>[[${product.getFormattedStartDate()}]]
						</p>
						<p>
							<span class="fs-5 fw-bold">End Date : </span>[[${product.getFormattedEndDate()}]]
						</p>

						<p>
							<th:block th:if="${product.isActive==true}">
								<span class="badge bg-success">Available</span>
							</th:block>

						</p>

						<th:block th:if="${user==null}">
							<a href="/signin" class="btn btn-danger"
								style="background-color: #A73B24; color:white;">Add to Favorites!!</a>
						</th:block>

						<th:block th:unless="${user==null}">
							<a
								th:href="@{'/user/addCart?pid='+${product.id}+'&uid='+${user.id}}"
								class="btn " style="background-color: #A73B24; color:white;">Add to Favorites!!</a>
								
						</th:block>

						</th:block>

					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>